@model StatisticModel
@{
    ViewData["Title"] = "Статистика";
}

<div>
    <form method="post" enctype="multipart/form-data">
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="Загрузить" /></p>
    </form>
    <div>
        <table>
            <tr>
                <td>
                    <table class="table" style="width: 50vw;">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Город</th>
                                <th>Пол</th>
                                <th>Возраст</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var p in Model?.People ?? Array.Empty<PersonModel>())
                            {
                                <tr>
                                    <td>@p.Name</td>
                                    <td>@p.City</td>
                                    <td>@p.IsMale</td>
                                    <td>@p.Age</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="btn-group">
                            @for (var i = 0; i <= (Model?.PageInfo?.TotalPages ?? 0); i++)
                            {
                                var classStr = Model?.PageInfo?.PageNumber == i ? "btn btn-default selected btn-primary" : "btn btn-default";
                                <a class=@classStr asp-area="" asp-controller="Statistic" asp-action="Index" asp-route-pageNumber=@i asp-route-isOnlyMale=@Model?.IsOnlyMale>@i</a>
                            }
                        </tfoot>
                    </table>
                </td>
                <td>
                    <div style="width: 300px; height: 200px;">
                        <canvas id="oilChart" width="500" height="400"></canvas>
                    </div>

                    <script>
                        var oilCanvas = document.getElementById("oilChart");
                        Chart.defaults.font.family = "Lato";
                        Chart.defaults.font.size = 18;
                        Chart.defaults.color = "black";

                        let total = @Model.MenCount + @Model.WomenCount;
                        let men = @Model.MenCount / Number.parseFloat(total);
                        let women = 1 - men;
                        var oilData = {
                            labels: [
                                "М",
                                "Ж",
                            ],
                            datasets: [
                                {
                                    data: [men, women],
                                    backgroundColor: [
                                        "#5B9BD5",
                                        "#C56BAE",
                                    ]
                                }]
                        };

                        var pieChart = new Chart(oilCanvas, {
                            type: 'pie',
                            data: oilData,
                            options: {
                                events: [
                                    'click'
                                ],
                                onClick: function (event, items) {
                                    let item = items[0];
                                    window.location.assign("../Statistic/Index?pageNumber=0&isOnlyMale=" + (item.index === 0).toString());
                                }
                            }
                        });

                    </script>
                </td>
            </tr>
        </table>
    </div>
</div>
